<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>找老师-补课吧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style1.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">补课吧</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;推荐</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;找老师</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;学习墙</a>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-earphone"></span>&nbsp;联系人</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;站内信</a>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#">zhangjin<b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li> <a href="#"> <i class="icon-question-sign"></i> 我的学习问答 </a> </li>
                                <li> <a href="#"> <i class="icon-comment"></i> 我的评价管理 </a> </li>
                                <li> <a href="#"> <i class="icon-filter"></i> 我的VIP服务 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-group"></i> 我的群组 </a> </li>
                                <li><a href="#"><i class="icon-group"></i>  我参加的补习</a></li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-list-alt"></i> 我的指导老师 </a> </li>
                                <!--<li > <a href="/loud/laba_center"> <i class="icon-volume-up"></i> 我的小喇叭 </a> </li>-->
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-tint"></i> 我的问题 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-cog"></i> 个人设置 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li><a href="#"><i class="icon-off"></i>  退出</a></li>
                            </ul>
                    </ul>
                </div>
            </nav>


            <div class="well">
            <ul class="nav">
            <div class="control-group">
            <span class="bootstro" data-bootstro-content="您可以在这里输入关键词直接搜索，比如 ios，游戏，社交等" data-bootstro-placement="bottom">
				<input type="text" placeholder="输入关键词搜索合伙人 " id="keyword" class="" value=""> <button class="btn btn-success"></button></span>

            <a href="#" >老乡校友</a> <a href="#" class="text_blank">地图查找</a> <a href="#" class="text_blank">标签找人</a>
            <hr>
            <div class="controls bootstro" data-bootstro-content="在这里，您可以选择各种条件，比如角色和地区，方向等。而且您可以保存所选的条件。" data-bootstro-placement="right">
            <label class="control-label"><strong><small>角色 : </small></strong> </label>
            <div class="controls">
                <a class="have-sel" href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">全部</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/1/-1/-1/-1/0/0/0/15">创始人</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/2/-1/-1/-1/0/0/0/15">技术合伙人</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/3/-1/-1/-1/0/0/0/15">营销合伙人</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/4/-1/-1/-1/0/0/0/15">运营合伙人</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/5/-1/-1/-1/0/0/0/15">设计师</a>
                <a class="" href="http://www.ycpai.com/home/personlist/32/0/0/6/-1/-1/-1/0/0/0/15">产品合伙人</a>
                <a class="" href="#">其它</a>
            </div>
            <li>
            <label class="control-label"><strong><small>条件 : </small></strong> </label> <ul class="nav">
            <li class="dropdown pull_search span2"><a class="dropdown-toggle " data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#"><span class="text_blank">
							江苏							<i class="icon-angle-down"></i></span> </a>
                <ul class="dropdown-menu menu_width">
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/0/0/0/0/-1/-1/-1/0/0/0/15">全 部</a> </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/11/0/0/0/-1/-1/-1/0/0/0/15">
                        北京</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/31/0/0/0/-1/-1/-1/0/0/0/15">
                        上海</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/33/406/0/0/-1/-1/-1/0/0/0/15">
                        杭州</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/44/138/0/0/-1/-1/-1/0/0/0/15">
                        深圳</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/44/136/0/0/-1/-1/-1/0/0/0/15">
                        广州</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/51/348/0/0/-1/-1/-1/0/0/0/15">
                        成都</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/42/222/0/0/-1/-1/-1/0/0/0/15">
                        武汉</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/50/0/0/0/-1/-1/-1/0/0/0/15">
                        重庆</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/12/0/0/0/-1/-1/-1/0/0/0/15">
                        天津</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/32/261/0/0/-1/-1/-1/0/0/0/15">
                        南京</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/32/265/0/0/-1/-1/-1/0/0/0/15">
                        苏州</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/127/0/0/0/-1/-1/-1/0/0/0/15">
                        海外</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/44/0/0/0/-1/-1/-1/0/0/0/15">
                        广东</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/33/0/0/0/-1/-1/-1/0/0/0/15">
                        浙江</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">
                        江苏</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/51/0/0/0/-1/-1/-1/0/0/0/15">
                        四川</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/35/0/0/0/-1/-1/-1/0/0/0/15">
                        福建</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/41/0/0/0/-1/-1/-1/0/0/0/15">
                        河南</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/37/0/0/0/-1/-1/-1/0/0/0/15">
                        山东</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/42/0/0/0/-1/-1/-1/0/0/0/15">
                        湖北</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/12/0/0/0/-1/-1/-1/0/0/0/15">
                        天津</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/13/0/0/0/-1/-1/-1/0/0/0/15">
                        河北</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/14/0/0/0/-1/-1/-1/0/0/0/15">
                        山西</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/15/0/0/0/-1/-1/-1/0/0/0/15">
                        内蒙古</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/21/0/0/0/-1/-1/-1/0/0/0/15">
                        辽宁</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/22/0/0/0/-1/-1/-1/0/0/0/15">
                        吉林</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/23/0/0/0/-1/-1/-1/0/0/0/15">
                        黑龙江</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/34/0/0/0/-1/-1/-1/0/0/0/15">
                        安徽</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/36/0/0/0/-1/-1/-1/0/0/0/15">
                        江西</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/43/0/0/0/-1/-1/-1/0/0/0/15">
                        湖南</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/45/0/0/0/-1/-1/-1/0/0/0/15">
                        广西</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/46/0/0/0/-1/-1/-1/0/0/0/15">
                        海南</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/52/0/0/0/-1/-1/-1/0/0/0/15">
                        贵州</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/53/0/0/0/-1/-1/-1/0/0/0/15">
                        云南</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/54/0/0/0/-1/-1/-1/0/0/0/15">
                        西藏</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/61/0/0/0/-1/-1/-1/0/0/0/15">
                        陕西</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/62/0/0/0/-1/-1/-1/0/0/0/15">
                        甘肃</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/63/0/0/0/-1/-1/-1/0/0/0/15">
                        青海</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/64/0/0/0/-1/-1/-1/0/0/0/15">
                        宁夏</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/65/0/0/0/-1/-1/-1/0/0/0/15">
                        新疆</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/71/0/0/0/-1/-1/-1/0/0/0/15">
                        台湾</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/81/0/0/0/-1/-1/-1/0/0/0/15">
                        香港</a>
                    </li>
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/82/0/0/0/-1/-1/-1/0/0/0/15">
                        澳门</a>
                    </li>

                </ul>
            </li>
            <li class="dropdown pull_search span2"><a class="dropdown-toggle " data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#"><span class="text_blank">
							方 向 <i class="icon-angle-down"></i></span></a>
                <ul class="dropdown-menu menu_width">
                    <li class="span2" style=" margin: 5px 0;"><a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">全 部</a></li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/1/0/-1/-1/-1/0/0/0/15">电子商务</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/2/0/-1/-1/-1/0/0/0/15">社交</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/3/0/-1/-1/-1/0/0/0/15">工具</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/4/0/-1/-1/-1/0/0/0/15">移动应用</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/5/0/-1/-1/-1/0/0/0/15">生活消费</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/6/0/-1/-1/-1/0/0/0/15">企业服务</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/7/0/-1/-1/-1/0/0/0/15">游戏</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/8/0/-1/-1/-1/0/0/0/15">文化艺术</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/9/0/-1/-1/-1/0/0/0/15">教育</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/10/0/-1/-1/-1/0/0/0/15">营销广告</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/11/0/-1/-1/-1/0/0/0/15">媒体</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/12/0/-1/-1/-1/0/0/0/15">视频娱乐</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/13/0/-1/-1/-1/0/0/0/15">旅游</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/14/0/-1/-1/-1/0/0/0/15">健康医疗</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/15/0/-1/-1/-1/0/0/0/15">金融</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/16/0/-1/-1/-1/0/0/0/15">搜索安全</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/17/0/-1/-1/-1/0/0/0/15">创业服务</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/18/0/-1/-1/-1/0/0/0/15">站长工具</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/19/0/-1/-1/-1/0/0/0/15">硬件</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/20/0/-1/-1/-1/0/0/0/15">体育</a>
                    </li>
                    <li class="span2" style="margin: 5px 0;">
                        <a href="http://www.ycpai.com/home/personlist/32/0/21/0/-1/-1/-1/0/0/0/15">其他</a>
                    </li>

                </ul>
            </li>
            <li class="dropdown pull_search span2"><a class="dropdown-toggle " data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#"><span class="text_blank">
							心 态 <i class="icon-angle-down"></i></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">全 部</a></li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/0/-1/0/0/0/15">参与创业</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/1/-1/0/0/0/15">主导创业</a>
                    </li>

                </ul>
            </li>
            <li class="dropdown pull_search span2"><a class="dropdown-toggle " data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#"><span class="text_blank">
							状 态 <i class="icon-angle-down"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">全 部</a></li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/0/0/0/0/15">已在全职创业</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/1/0/0/0/15">已在兼职创业</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/2/0/0/0/15">准备全职创业</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/3/0/0/0/15">准备兼职创业</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/4/0/0/0/15">认识朋友为主</a>
                    </li>

                </ul>
            </li>

            <li class="dropdown pull_search span2"><a class="dropdown-toggle " data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#"><span class="text_blank">
							年 龄 <i class="icon-angle-down"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://www.ycpai.com/home/personlist/32/0/0/0/-1/-1/-1/0/0/0/15">全 部</a></li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/0/-1/-1/0/0/0/15">&lt;25</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/1/-1/-1/0/0/0/15">25-30</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/2/-1/-1/0/0/0/15">30-35</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/3/-1/-1/0/0/0/15">35-40</a>
                    </li>
                    <li>
                        <a href="http://www.ycpai.com/home/personlist/32/0/0/0/4/-1/-1/0/0/0/15">&gt;40</a>
                    </li>

                </ul>
            </li>

            </ul>
            </li>
            <li style="clear: both"></li>
            </div>
            </div>
            </ul>

            </div>


            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>


            <div class="modal fade" id="modal-container-10857" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                Modal title
                            </h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
</body>
</html>
