<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>找老师-补课吧</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
    <!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
    <!--script src="js/less-1.3.3.min.js"></script-->
    <!--append ‘#!watch’ to the browser URL, then refresh the page. -->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style1.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="img/favicon.png">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
<div class="col-sm-12 column">
<nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">补课吧</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;推荐</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-search"></span>&nbsp;找老师</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;学习墙</a>
                        </li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-earphone"></span>&nbsp;联系人</a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;站内信</a>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.ycpai.com/home/personlist?page_start=1#">zhangjin<b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li> <a href="#"> <i class="icon-question-sign"></i> 我的学习问答 </a> </li>
                                <li> <a href="#"> <i class="icon-comment"></i> 我的评价管理 </a> </li>
                                <li> <a href="#"> <i class="icon-filter"></i> 我的VIP服务 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-group"></i> 我的群组 </a> </li>
                                <li><a href="#"><i class="icon-group"></i>  我参加的补习</a></li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-list-alt"></i> 我的指导老师 </a> </li>
                                <!--<li > <a href="/loud/laba_center"> <i class="icon-volume-up"></i> 我的小喇叭 </a> </li>-->
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-tint"></i> 我的问题 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li> <a href="#"> <i class="icon-cog"></i> 个人设置 </a> </li>
                                <li class="divider">&nbsp;</li>
                                <li><a href="#"><i class="icon-off"></i>  退出</a></li>
                            </ul>
                    </ul>
                </div>
            </nav>


            <div class="well">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">请选择</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#contains">小学家教</a></li>
                            <li><a href="#its_equal">初中家教</a></li>
                            <li><a href="#greather_than">高中家教</a></li>
                            <li class="divider"></li>
                            <li><a href="#all">其它</a></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control input-md" name="x" placeholder="寻找你需要的老师" >
                        <input type="hidden" name="search_param" value="all" id="search_param">
                    </div>
                    <span class="input-group-btn navbar-left">
                         <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
                <hr>
                <div class="text-left">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            按照学科
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="#">语文</a></li>
                            <li><a href="#">数学</a></li>
                            <li><a href="#">英语</a></li>
                        </ul>


                    </div>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            按照大学
                            <span class="glyphicon glyphicon-home"></span>
                        </button>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="#">南京大学</a></li>
                            <li><a href="#">南京理工大学</a></li>
                            <li><a href="#">南京工程学院</a></li>
                        </ul>
                    </div>

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            按照身份
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="#">大学生家教</a></li>
                            <li><a href="#">在职教师</a></li>
                            <li><a href="#">专职家教</a></li>
                            <li><a href="#">辅导机构</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container well">
                <div class="col-md-10 blogShort">
                    <h1>teacher1</h1>
                    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/guinnes-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">

                    <em>This snippet use <a href="http://bootsnipp.com/snippets/featured/sexy-sidebar-navigation" target="_blank">Sexy Sidebar Navigation</a></em>
                    <article><p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
                </div>
                <div class="col-md-10 blogShort">
                    <h1>teacher2</h1>
                    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/DSC_4073-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    <article><p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
                </div>
                <div class="col-md-10 blogShort">
                    <h1>teacher3</h1>
                    <img src="http://www.kaczmarek-photo.com/wp-content/uploads/2012/06/DSC_1681-150x150.jpg" alt="post img" class="pull-left img-responsive thumb margin10 img-thumbnail">
                    <article><p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                        of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a>
                </div>
            </div>

            <ul class="pagination">
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>


            <div class="modal fade" id="modal-container-10857" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">
                                Modal title
                            </h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
</div>
</body>
</html>
